<?xml version="1.0" encoding="utf-8" ?>
<suite name="测试套件">
    <test name="TJWebUI">
        <classes>
            <!-- 需要运行的测试类 -->
            <class name="com.tj.testCases.DataCheck"/>
        </classes>
    </test>
    <listeners>
        <!-- 添加ExtentRport监听 -->
        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>
    </listeners>
</suite>